:root {
    --main-bg-color: #000000;
    --text-color: #ffffff;
    --border-color: #303030;
    --btn-bg-color: #1976d2;
    --btn-bg-hover-color: #1565c0;
    --loader-border-color: #3498db;
    --clicked-item-color: #909090;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

header h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 5px;
}

input[type="url"],
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--border-color);
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: var(--btn-bg-hover-color);
}

.loading {
    text-align: center;
}

.loader {
    border: 5px solid var(--text-color);
    border-top: 5px solid var(--loader-border-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

.episode-item {
    margin-bottom: 10px;
}

.episode-item a {
    display: block;
    padding: 10px;
    background-color: var(--border-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.episode-item:not(.clicked) a:hover {
    background-color: #444444;
}

.episode-item.clicked a {
    opacity: 0.6;
}

.error-container {
    margin-bottom: 20px;
}

.error-item {
    background-color: #ffdddd;
    color: #d8000c;
    padding: 10px;
    border: 1px solid #d8000c;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-results {
    overflow-y: auto;
    margin-top: 10px;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    padding: 10px;
}

.result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

.result-item:last-child {
    border-bottom: none;
}

.result-img img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.result-info h3 {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
}

.result-info p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text-color);
}

.result-info button {
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 5px;
}

.result-info button:hover {
    background-color: var(--btn-bg-hover-color);
}
