body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 90%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #333;
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

input[type="url"],
input[type="number"] {
    width: calc(100% - 24px); /* Adjusted width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

#loading {
    text-align: center;
    display: none;
}

/* Improved loading spinner animation */
.loader {
    border: 5px solid #ffffff;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
    transition: opacity 0.3s; /* Added transition for smoother appearance */
}

/* Error message display */
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

/* Accessibility improvements */
label {
    cursor: pointer; /* Improve usability by making labels clickable */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

.episode-list {
    margin-top: 20px;
}

.episode-item {
    margin-bottom: 10px;
}

.episode-item a {
    display: block;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 16px;
}

.episode-item a:hover {
    background-color: #0056b3;
}
